@model ScheduleConstructor.Models.Subject

@{
    ViewData["Title"] = "Подробнее";
}

    <h1>Подробнее</h1>

<div>
    <h4>Пара</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberInDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberInDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberInWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberInWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lesson.LessonID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubjectID">Edit</a> |
    <a asp-action="Index">Назад</a>
</div>
