@model IEnumerable<ScheduleConstructor.Models.Subject>

@{
    ViewData["Title"] = "Пары";
}

<h1>Пары</h1>

<p>
    <a asp-action="Create">Создать новую пару</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberInDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberInWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberInDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberInWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubjectID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.SubjectID">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.SubjectID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
