@model IEnumerable<ScheduleConstructor.Models.Subject>

@{
    ViewData["Title"] = "Пары";
}

<h1>Пары</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {<a asp-action="Create">Создать новую пару</a>}
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер дня
            </th>
            <th>
                Номер недели
            </th>
            <th>
                Предмет
            </th>
            <th>
                Аудитория
            </th>
            <th>
                Группа
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberInDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberInWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lesson.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AudienceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {<a asp-action="Edit" asp-route-id="@item.SubjectID">Изменить</a>}

                    <a asp-action="Details" asp-route-id="@item.SubjectID">Подробнее</a>

                    @if (User.Identity.IsAuthenticated)
                    {<a asp-action="Delete" asp-route-id="@item.SubjectID">Удалить</a>}
                </td>
            </tr>
        }
    </tbody>
</table>
