@model IEnumerable<ScheduleConstructor.Models.Lesson>

@{
    ViewData["Title"] = "Предметы";
}

<h1>Предметы</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create">Создать предмет</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Преподаватель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Name)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@item.ID">Изменить</a>
                }
                <a asp-action="Details" asp-route-id="@item.ID">Подробнее</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
